.container{
  display: flex;
  height: calc(100vh - 40px);
}
.hijo{
  width: 33.3%;
  border: solid gray 1px;
  text-align: center;
}
.color{
  border: solid black 1px;
  width: 22px;
  height: 22px;
  background-color: red;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;

}
.colores{
  display: flex;


}
.color:nth-child(1){
  background-color: blue ;
}
.color:nth-child(2){
  background-color: orange ;
}
.color:nth-child(3){
  background-color: yellow;
}
.color:nth-child(4){
  background-color: green;
}
img{
  width: 150px;
  height: 150px;
  vertical-align: top;
}


.idiomas{
  display: flex;
  justify-content: center;
  gap: 10rem;
  cursor: pointer;
}
.banderas{
  border:solid 1px black;
}
button{
  width: 150px;
  background-color: white;
  padding: 5px 8px;
  margin: 10px;
  border-radius: 5px;
  border:dotted 1px black;
  color: white;
  background-color: teal;
  font-size: 1.05rem;
}
.Botones{
  display: flex;
  justify-content: center;
}

.profesora,.ubicacion{
  width:320px;
  text-align:center;
  border-radius: 8px;
  background-color: teal;
  padding-bottom: 15px;
  color: white;
  margin: auto;
  

}